---
layout: page
title: About
---
<div class="container is-max-desktop">
  Green Kingston is a resource providing information about the community and history of environmental activism in Kingston upon Thames.
</div>
